ul {
    list-style: none;
    padding: 0;
}
.footer-list {
    cursor: pointer;
}
.footer-list:hover {
    text-decoration: underline;
}
@media (max-width: 576px) {
    .border-sm-solid {
        border-bottom: 2px solid white;
        padding-bottom: 4px;
    }
    .w-sm-100 {
        width: 100% !important;
    }
    .mb-sm-3 {
        margin-bottom: 1rem !important;
    }
}
