.gategories {
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.sreach-bar {
    height: 40px;
    background: transparent;
    border: 1px solid #5e6369ff;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: #5e6369ff;
}
.sreach-bar:focus {
    outline-color: var(--main-color);
}
.lang {
    cursor: pointer;
    padding: 5px;
    transition: 0.2s;
    border-radius: 5px;
    .lan-arrow {
        font-weight: bold;
        transform: rotate(-90deg);
        transition: 0.2s;
    }
}
.lang:hover {
    background-color: #e7e7e7;
}
.lan-arrow.lang-clicked {
    transform: rotate(90deg);
}

.header-icon {
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header-icon:hover {
    background-color: #e7e7e7;
}

.header-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background: #b3b3b3;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-out;
    opacity: 0;
    z-index: -1;
}

.header-icon.icon-clicked::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
