.lang-selection {
    background-color: #f7f7f8;
    position: absolute;
    right: 10px;
    top: -30px;
    width: 100px;
    opacity: 0;
    transition: opacity 0.2s, top 0.2s;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.05),
        0 0 24px 0 rgba(0, 0, 0, 0.07);
    z-index: 9999;
}
.lang-selection.lang-clicked {
    top: 77px;
    opacity: 1;
    z-index: 9999;
}
