.selection-header {
    font-weight: bold;
    font-size: 2rem;
    font-family: Righteous;
    position: relative;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.selection-header::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #b3b3b3;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}
