.profile-selection {
    background-color: white;
    position: absolute;
    top: -163px;
    width: 170px;
    display: none;
    transition: opacity 0.01s, top 0.2s;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.05),
        0 0 24px 0 rgba(0, 0, 0, 0.07);
    z-index: 9999;
    padding: 10px;
}
.profile-selection.EN {
    right: 25px;
}
.profile-selection.AR {
    left: 25px;
}
.profile-selection.profile-clicked {
    top: 77px;
    opacity: 1;
    display: block;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile-selection.profile-clicked::after {
    content: "";
    position: absolute;
    top: -19px;
    left: 114px;
    z-index: 9999;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

@media (max-width: 575.98px) {
    .profile-selection.profile-clicked::after {
        left: 100px;
    }
    .profile-selection.profile-clicked::after {
        left: 50px;
    }
}
@media (min-width: 576px) and (max-width: 765px) {
    .profile-selection.profile-clicked::after {
        left: 93px;
    }
    .profile-selection.profile-clicked::after {
        left: 56px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .profile-selection.profile-clicked::after {
        left: 70px;
    }
    .profile-selection.profile-clicked::after {
        left: 81px;
    }
}

@media (min-width: 992px) {
    .profile-selection.profile-clicked::after {
        left: 70px;
    }
    .profile-selection.profile-clicked::after {
        left: 81px;
    }
}
.theProduct:hover {
    background-color: #e3e3e4ff;
    border-radius: 5px;
}
