.slick-prev:before,
.slick-next:before {
    display: none !important;
}

.slick-slide {
    padding: 0 5px;
}

.slick-list {
    margin: 0 -5px;
}

.slider-link {
    color: black !important;
    text-decoration: none !important;
}
