.App {
    text-align: center;
}
:root {
    --main-color: #0b5394;
}

body {
    font-family: "Roboto", sans-serif !important;
    /* background-color: red !important; */
    /* height: 200vh; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0 !important;
}

/* Roboto font */
@font-face {
    font-family: "Roboto";
    src: url("../public/Fonts/Roboto/static/Roboto-Thin.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../public/Fonts/Roboto/static/Roboto-Light.ttf")
        format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../public/Fonts/Roboto/static/Roboto-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../public/Fonts/Roboto/static/Roboto-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../public/Fonts/Roboto/static/Roboto-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../public/Fonts/Roboto/static/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../public/Fonts/Roboto/static/Roboto-ExtraBold.ttf")
        format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../public/Fonts/Roboto/static/Roboto-Black.ttf")
        format("truetype");
    font-weight: 900;
    font-style: normal;
}
/* Roboto font */

/*Righteous fonr*/
@font-face {
    font-family: "Righteous";
    src: url("../public/Fonts/Righteous-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
/*Righteous fonr*/
